{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- BOOTSTRAP STYLES-->
    <link href='{% static "controller/css/bootstrap.min.css" %}' rel="stylesheet">
    <!--CUSTOM STYLES-->
    <link href='{% static "controller/css/style.css" %}' rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <style>
        body { background-color: #1d1f21; }
    </style>
    
</head>

<body>
    <div class="container">
        <div id="bitsauto_login" class="signin-card">
            <div class="logo-image">
                <img src='{% static "controller/img/logo.png" %}' alt="Logo" title="Logo" width="138" class="img-rounded">
            </div>
            <h4 class="head">Extreme Military Challange<sup>&#8482;</sup></h4>
            <p class="subhead">Login</p>
            <form id="zform" class="form-horizontal" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
            {% csrf_token %}
                <div id="form-login-username" class="form-group">
                  <input id="id_login_username" class="form-control" name="username" type="text" size="30" alt="username" required />
                  <span class="form-highlight"></span>
                  <span class="form-bar"></span>
                  <label for="id_login_username" class="float-label">Username</label>
                </div>
                <div id="form-login-password" class="form-group">
                  <!-- <input type="text" style="display:none"> -->
                  <!-- <input type="password" style="display:none"> -->
                  <input id="id_login_password" class="form-control" name="password" type="password" size="30" alt="password" required />
                  <span class="form-highlight"></span>
                  <span class="form-bar"></span>
                  <label for="id_login_password" class="float-label">Password</label>
                </div>
                <div class="checkbox form-group">
                    <label><input name="remember_me" type="checkbox" value="Remember Me">Remember Me</label>
                </div>
                <div>
                  <input id="signin" class="btn btn-block btn-primary ripple-effect" type="submit" name="Submit" alt="sign in" value="Sign in"/> 
                </div>
            </form>
        </div>
    </div>
    
    <script>
        // !function ($) {
        //     $(document).on("click","ul.nav li.parent > a > span.icon", function(){            
        //             $(this).find('em:first').toggleClass("glyphicon-minus");          
        //     }); 
        //     $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        // }(window.jQuery);

        // $(window).on('resize', function () {
        //     if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        // })
        // $(window).on('resize', function () {
        //     if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        // })
    </script>
    <script src='{% static "controller/js/bootstrap.min.js" %}' type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
