{% load bootstrap %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Extreme Military Challenge Bootcamp!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'controller/pages/nav.html' with context=context %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Create Invoice</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Please provide following information:
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form id="zform" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
                            {% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        <select class="form-control" name="cadet_id" required>
                                            <option value="">Select Cadet</option>
                                            {% for id, fullname in cadet_list %}
                                                <option value="{{ id }}">{{ fullname }}</option>
                                            {% endfor %}
                                        </select>
                                        <!-- <input class="form-control" placeholder="Cadet Id"  type="text" value="" autofocus > -->
                                    </div>
                                    <div class="row product-row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control" name="product-0" required>
                                                    <option value="">Select Product</option>
                                                    {% for id, product, price in product_list %}
                                                    <option value="{{ id }}" data-price="{{ price }}">{{ product }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Quantity" name="quantity-0" type="number" min="1" value="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Price" name="product_cost-0" type="text" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="padding-left: 0; margin-top: 2px;">
                                            <button id="addNewProduct" type="button" class="btn btn-info btn-circle" title="Add another">
                                                <i class="fa fa-plus-circle fa-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Total" name="total_cost" type="text" value="" disabled="disabled">
                                    </div>
                                 <!-- Change this to a button or input when using this as a form -->
                                    <input id="submit" class="btn btn-success btn-block ripple-effect" type="submit" name="" alt="submit" value="Submit"/>
                                    <a href="/home" class="btn btn-outline btn-primary btn-block">Cancel</a>
                                </fieldset>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <!-- Custom Script -->
    <script src="{% static 'js/script.js' %}"></script>

    <script type="text/javascript">
    $(function () {
        
        var products = [];
        
        $('[name^="product-"] option').each(function(index, el) {
            
            if ($(el).val()) {
                var product = [];
            
                product.push($(el).val());
                product.push($(el).attr('data-price'));
                product.push($(el).text());
                
                products.push(product);
            };
        });
        console.log(products);
        
        calcProductPriceAndTotal();
        
        var n = 1;
        $('#addNewProduct').click(function(event) {
            var productRow = $('.product-row:first');
            
            $('.product-row:last').after($(productRow).clone()).html();
            $('.product-row:not(:first)').find('#addNewProduct').parent().remove();
            $('.product-row:last').find('[name^="product-"]').attr('name', 'product-'+n);
            $('.product-row:last').find('[name^="quantity-"]').val('').attr('name', 'quantity-'+n);
            $('.product-row:last').find('[name^="product_cost-"]').val('').attr('name', 'product_cost-'+n);
            n++;
            calcProductPriceAndTotal();
        });

        // $('#submit').click(function(event) {
        //     $('#zform input[type="text"]').prop('disabled', false)
        //     $.ajax({
        //         url: '/Canteen/manage_transactions',
        //         type: 'POST',
        //         dataType: 'json',
        //         data: $('#zform').serialize(),
        //     })
        //     .done(function() {
        //         console.log("success");
        //     })
        //     .fail(function() {
        //         console.log("error");
        //     })
        //     .always(function() {
        //         $('[name^="product_cost"], [name="total_cost"]').prop('disabled', true);
        //     })
        // });

        /* Preloader --START */
            var $loader = $('#pre_loader');
            
            $(document).ajaxStart(function () {
                $loader.show();
            })
            .ajaxStop(function () {
                $loader.hide();
            })
            .ajaxError(function() {
                $loader.hide();
            });
        /* Preloader --END */
    })
    function calcProductPriceAndTotal() {
        $('[name^="product-"], [name^="quantity-"]').on('change keyup', function(event) {
            var totalCost = '';
            if ($(this).val() == 0) {
                $(this).val('');
            }
            
            var cost = $(this).parents('.row:first').find('[name^="product-"] option:selected').attr('data-price');
            var quantity = $(this).parents('.row:first').find('[name^="quantity-"]').val();
            var price = cost * quantity;
            price = quantity ? price : cost;
            if (cost) {
                $(this).parents('.row:first').find('[name^="product_cost"]').val(parseFloat(price).toFixed(2));
            }
            else{
                $(this).parents('.row:first').find('[name^="quantity-"]').val('');
                $(this).parents('.row:first').find('[name^="product_cost"]').val('');
            }
            $('[name^="product_cost"]').each(function(index, el) {
                var Cost = $(el).val();
                totalCost = Number(Cost) + Number(totalCost);
            });
            $('[name="total_cost"]').val(parseFloat(totalCost).toFixed(2));
        });
    };
    // function getProductPrice () {
    //     $('[name^="product-"]').change(function(event) {
    //         var price = '';
    //         $('[name^="product-"]').each(function(index, el) {
    //             var productPrice = Number($(el).find('option:selected').attr('data-price'));
    //             if (!isNaN(productPrice)) {
    //                 price = Number(price) + Number(productPrice);
    //             };
    //         });
    //         if (price) {
    //             $('[name="product_cost"]').val(parseFloat(price).toFixed(2));
    //         }
    //         else{
    //             $('[name="product_cost"]').val('');
    //         }

    //     });
    // }
    </script>
</body>

</html>
